@import 'flowbite';
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --base-padding: 20px; /* Default padding for small devices */
}

body {
  padding-left: var(--base-padding);
  padding-right: var(--base-padding);
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  :root {
    --base-padding: 40px;
  }
}

/* Large devices (desktops, 1024px and up) */
@media (min-width: 1024px) {
  :root {
    --base-padding: 100px;
  }
}

/* Extra large devices (large desktops, 1440px and up) */
@media (min-width: 1440px) {
  :root {
    --base-padding: 300px;
  }
}

/* Over 1080p resolution (1920px and up) */
@media (min-width: 1920px) {
  :root {
    --base-padding: 400px; /* Increase padding for very large screens */
  }
}

.sticky-top {
  position: -webkit-sticky; /* For Safari */
  position: sticky;
  top: 0;
  z-index: 1000; /* Ensures the div stays above other content */
}

.logo-container a {
  display: flex;
  align-items: center;
  font-size: 170%; /* Increase text size by 20% */
  padding-bottom: 20px;
}

.profile-container img {
  align-self: start; /* Align the top of the image with the container */
}

.call-to-action-button {
  @apply inline-flex items-center justify-center px-5 py-3 border border-transparent text-base font-medium rounded-md text-white;
}
.call-to-action-button-indigo {
  @apply bg-indigo-600 hover:bg-indigo-700;
}

.engagement-rate-cell {
  display: flex;
  align-items: center; /* Vertically center the content */
  justify-content: center; /* Horizontally center the content, if needed */
  /* Add more styling here as needed */
}