@import 'flowbite';
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding-top: 25px;
  padding-left: 100px;
  padding-right: 100px;
}

.logo-container a {
  display: flex;
  align-items: center;
  font-size: 170%; /* Increase text size by 20% */
  padding-bottom: 25px;
}

.profile-container img {
  align-self: start; /* Align the top of the image with the container */
}
