<% # Consider replacing with <%- link_to @text, @url, class: "#{classes}", data: { turbo: false }, method: :get %>

<%= button_to @url, data: { turbo: false } do %>
  <button type="submit" class="<%=classes %>">
    <%= @text %>
  </button>
<% end %>
