<% if !current_user.connected_to_twitter? || current_user.email.nil? %>
  <div class="p-4 mb-4 text-sm text-yellow-800 rounded-lg bg-yellow-50 dark:bg-gray-800 dark:text-yellow-300" role="alert">
    To start leveraging the full capabilities of Echosight, please complete the steps below:
  </div>
<% end %>

<% if current_user.connected_to_twitter? %>
  <%= render Shared::HeadingComponent.new(text: 'When can I see my public page?', heading_type: :h2) %>
  <p class="mb-4 text-lg font-normal text-gray-500 dark:text-gray-400">Thanks for connecting your Twitter/X account. In order to show you your public page we need at least 3 days, ideally 7, of data from Twitter.</p>
<% else %>
  <div class="py-3" role="alert">
    <p class="mb-3 text-gray-500 dark:text-gray-400">To start collecting data from Twitter to generate your public page, please connect your Twitter/X account.</p>
    <p class="m-2">
      <%= button_to helpers.omniauth_authorize_path(:user, :twitter2), data: { turbo: false } do %>
        <button type="submit" class="text-white bg-[#1da1f2] hover:bg-[#1da1f2]/90 focus:ring-4 focus:outline-none focus:ring-[#1da1f2]/50 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-[#1da1f2]/55 me-2 mb-2">
          <svg class="w-4 h-4 me-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 17">
            <path fill-rule="evenodd" d="..."></path>
          </svg>
          Connect to <%= OmniAuth::Utils.camelize('Twitter') %>
        </button>
      <% end %>
    </p>
  </div>
<% end %>
