<div class="flex flex-col justify-center">
  <% if show_button? %>
    <a href="<%= @url %>">
      <button type="button" class="call-to-action-button call-to-action-button-indigo"><%= @link_text %></button>
    </a>
  <% end %>
</div>