<div class="hidden md:flex flex-col justify-center">
  <a href="<%= @url %>">
    <button type="button" class="call-to-action-button call-to-action-button-indigo"><%= @link_text %></button>
  </a>
</div>