---
http_interactions:
- request:
    method: get
    uri: https://api.socialdata.tools/twitter/user/1691930809756991488/tweets
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 120|gEVUlsk53tYfMrKJDM8ZISgPXinys4SdI2taW0FW6ba1d55a
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '119'
    body:
      encoding: ASCII-8BIT
      string: '{"tweets":[{"tweet_created_at":"2024-02-17T22:36:03.000000Z","id":1758983678515085403,"id_str":"1758983678515085403","text":null,"full_text":"test","source":"<a
        href=\"https:\/\/mobile.twitter.com\" rel=\"nofollow\">Twitter Web App<\/a>","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":1691930809756991488,"id_str":"1691930809756991488","name":"Topher","screen_name":"TopherToy","location":"","url":null,"description":"Revolutionize
        Your Twitter\/X Strategy with Echosight https:\/\/t.co\/uZpeIYc5Nq","protected":false,"verified":false,"followers_count":3,"friends_count":16,"listed_count":0,"favourites_count":11,"statuses_count":15,"created_at":"2023-08-16T21:52:25.000000Z","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/1691930809756991488\/1702516482","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/1729697224278552576\/pa9ZhTkQ_normal.jpg","can_dm":false},"quoted_status_id":null,"quoted_status_id_str":null,"is_quote_status":false,"quoted_status":null,"retweeted_status":null,"quote_count":0,"reply_count":0,"retweet_count":0,"favorite_count":0,"lang":"en","entities":{"user_mentions":[],"urls":[],"hashtags":[],"symbols":[]},"views_count":14,"bookmark_count":0},{"tweet_created_at":"2024-02-06T23:40:46.000000Z","id":1755013695040880857,"id_str":"1755013695040880857","text":null,"full_text":"RT
        @loftwah: A little bit of a sneak peak for Echosight. https:\/\/t.co\/wdg5EP1mEO","source":"<a
        href=\"https:\/\/mobile.twitter.com\" rel=\"nofollow\">Twitter Web App<\/a>","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user"[...]
