---
http_interactions:
- request:
    method: get
    uri: https://api.socialdata.tools/twitter/search?query=from:elonmusk
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 120|gEVUlsk53tYfMrKJDM8ZISgPXinys4SdI2taW0FW6ba1d55a
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '119'
    body:
      encoding: ASCII-8BIT
      string: '{"tweets":[{"tweet_created_at":"2024-03-05T19:05:24.000000Z","id":1765091257578049642,"id_str":"1765091257578049642","text":null,"full_text":"Join
        the @xAI London office!","source":"<a href=\"http:\/\/twitter.com\/download\/iphone\"
        rel=\"nofollow\">Twitter for iPhone<\/a>","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":44196397,"id_str":"44196397","name":"Elon
        Musk","screen_name":"elonmusk","location":"","url":null,"description":"","protected":false,"verified":true,"followers_count":175225033,"friends_count":551,"listed_count":149016,"favourites_count":44442,"statuses_count":39250,"created_at":"2009-06-02T20:12:29.000000Z","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/44196397\/1690621312","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/1683325380441128960\/yRsRRjGO_normal.jpg","can_dm":false},"quoted_status_id":null,"quoted_status_id_str":"1765090937775231350","is_quote_status":true,"quoted_status":{"tweet_created_at":"2024-03-05T19:04:08.000000Z","id":1765090937775231350,"id_str":"1765090937775231350","text":null,"full_text":"Do
        you want to work for @xai in London? Now you can. We''re looking for software
        engineers. Apply if you want to get stuff done, work with smart people, and
        get grilled in one of my coding interviews.\n\nBackend &amp; data: https:\/\/t.co\/u691KK3eOc\nFull-track:
        https:\/\/t.co\/W5Ruw7to6b","source":"<a href=\"https:\/\/mobile.twitter.com\"
        rel=\"nofollow\">Twitter Web App<\/a>","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":1023014000,"id_str":"1023014000","name":"Toby
        Pohlen","screen_name":"TobyPhln","location":"London, UK","url":null,"description":"Founding
        member @xAI. Previously @GoogleDeepMind. @RWTH alumnus.","protected":false,"verified":true,"followers_count":24398,"friends_count":428,"listed_count":356,"favourites_count":480,"statuses_count":238,"created_at":"2012-12-19T22:26:25.000000Z","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/1023014000\/1699589458","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/1622216308723957769\/uP-yIOwh_normal.jpg","can_dm":true},"quoted_status_id":null,"quoted_status_id_str":null,"is_quote_status":false,"quoted_status":null,"retweeted_status":null,"quote_count":10,"reply_count":110,"retweet_count":55,"favorite_count":352,"lang":"en","entities":{"hashtags":[],"symbols":[],"timestamps":[],"urls":[{"display_url":"boards.greenhouse.io\/xai\/jobs\/42769\u2026","expanded_url":"https:\/\/boards.greenhouse.io\/xai\/jobs\/4276949007","url":"https:\/\/t.co\/u691KK3eOc","indices":[221,244]},{"display_url":"boards.greenhouse.io\/xai\/jobs\/42769\u2026","expanded_url":"https:\/\/boards.greenhouse.io\/xai\/jobs\/4276959007","url":"https:\/\/t.co\/W5Ruw7to6b","indices":[257,280]}],"user_mentions":[{"id_str":"1661523610111193088","name":"xAI","screen_name":"xai","indices":[24,28]}]},"views_count":3455806,"bookmark_count":70,"is_pinned":false},"retweeted_status":null,"quote_count":43,"reply_count":1176,"retweet_count":736,"favorite_count":5612,"lang":"en","entities":{"hashtags":[],"symbols":[],"timestamps":[],"urls":[],"user_mentions":[{"id_str":"1661523610111193088","name":"xAI","screen_name":"xai","indices":[9,13]}]},"views_count":3421335,"bookmark_count":127,"is_pinned":false},{"tweet_created_at":"2024-03-05T19:03:59.000000Z","id":1765090901892669869,"id_str":"1765090901892669869","text":null,"full_text":"It
        was inev[...]
- request:
    method: get
    uri: https://api.socialdata.tools/twitter/search?next_token=DAADDAABCgABGH7dJZwWUGoKAAIYfqqxYBsg8gAIAAIAAAACCAADAAAAAAgABAAAAAAKAAUYfvfJPkAnEAoABhh-98k-P9jwAAA&query=from:elonmusk
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 120|gEVUlsk53tYfMrKJDM8ZISgPXinys4SdI2taW0FW6ba1d55a
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-L[...]
- request:
    method: get
    uri: https://api.socialdata.tools/twitter/search?next_token=DAADDAABCgABGH7dJZwWUGoKAAIYfqqxYBsg8gAIAAIAAAACCAADAAAAAAgABAAAAAAKAAUYfvfMJEAnEAoABhh-98wkP9jwAAA&query=from:elonmusk
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 120|gEVUlsk53tYfMrKJDM8ZISgPXinys4SdI2taW0FW6ba1d55a
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-L[...]
- request:
    method: get
    uri: https://api.socialdata.tools/twitter/search?next_token=DAADDAABCgABGH7dJZwWUGoKAAIYfqqxYBsg8gAIAAIAAAACCAADAAAAAAgABAAAAAAKAAUYfvfPSsAnEAoABhh-989Kv9jwAAA&query=from:elonmusk
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 120|gEVUlsk53tYfMrKJDM8ZISgPXinys4SdI2taW0FW6ba1d55a
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-L[...]
- request:
    method: get
    uri: https://api.socialdata.tools/twitter/search?next_token=DAADDAABCgABGH7dJZwWUGoKAAIYfqqxYBsg8gAIAAIAAAACCAADAAAAAAgABAAAAAAKAAUYfvfR-EAnEAoABhh-99H4P9jwAAA&query=from:elonmusk
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 120|gEVUlsk53tYfMrKJDM8ZISgPXinys4SdI2taW0FW6ba1d55a
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-L[...]
- request:
    method: get
    uri: https://api.socialdata.tools/twitter/search?next_token=DAADDAABCgABGH7dJZwWUGoKAAIYfqqxYBsg8gAIAAIAAAACCAADAAAAAAgABAAAAAAKAAUYfvfUocAnEAoABhh-99Shv9jwAAA&query=from:elonmusk
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 120|gEVUlsk53tYfMrKJDM8ZISgPXinys4SdI2taW0FW6ba1d55a
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-L[...]
- request:
    method: get
    uri: https://api.socialdata.tools/twitter/search?next_token=DAADDAABCgABGH7dJZwWUGoKAAIYfqqxYBsg8gAIAAIAAAACCAADAAAAAAgABAAAAAAKAAUYfvfXN8AnEAoABhh-99c3v9jwAAA&query=from:elonmusk
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 120|gEVUlsk53tYfMrKJDM8ZISgPXinys4SdI2taW0FW6ba1d55a
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-L[...]
- request:
    method: get
    uri: https://api.socialdata.tools/twitter/search?next_token=DAADDAABCgABGH7dJZwWUGoKAAIYfqqxYBsg8gAIAAIAAAACCAADAAAAAAgABAAAAAAKAAUYfvfZ7AAnEAoABhh-99nr_9jwAAA&query=from:elonmusk
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 120|gEVUlsk53tYfMrKJDM8ZISgPXinys4SdI2taW0FW6ba1d55a
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-L[...]
- request:
    method: get
    uri: https://api.socialdata.tools/twitter/search?next_token=DAADDAABCgABGH7dJZwWUGoKAAIYfqqxYBsg8gAIAAIAAAACCAADAAAAAAgABAAAAAAKAAUYfvfdScAnEAoABhh-991Jv9jwAAA&query=from:elonmusk
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 120|gEVUlsk53tYfMrKJDM8ZISgPXinys4SdI2taW0FW6ba1d55a
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-L[...]
- request:
    method: get
    uri: https://api.socialdata.tools/twitter/search?next_token=DAADDAABCgABGH7dJZwWUGoKAAIYfqqxYBsg8gAIAAIAAAACCAADAAAAAAgABAAAAAAKAAUYfvff6kAnEAoABhh-99_qP9jwAAA&query=from:elonmusk
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 120|gEVUlsk53tYfMrKJDM8ZISgPXinys4SdI2taW0FW6ba1d55a
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-L[...]
