---
http_interactions:
- request:
    method: get
    uri: https://api.socialdata.tools/twitter/search?query=from:loftwah%20within_time:2h
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 120|gEVUlsk53tYfMrKJDM8ZISgPXinys4SdI2taW0FW6ba1d55a
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '119'
    body:
      encoding: ASCII-8BIT
      string: '{"tweets":[{"tweet_created_at":"2024-04-23T05:49:53.000000Z","id":1782648064190341511,"id_str":"1782648064190341511","text":null,"full_text":"I''m
        with X on this one. https:\/\/t.co\/C2pdtHpH7q","source":"<a href=\"https:\/\/mobile.twitter.com\"
        rel=\"nofollow\">Twitter Web App<\/a>","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":1192091185,"id_str":"1192091185","name":"Loftwah","screen_name":"loftwah","location":"Earth","url":"https:\/\/biodrop.io\/loftwah","description":"Revolutionize
        Your Social Media Strategy with Echosight | https:\/\/t.co\/wMI0Lub79k | https:\/\/t.co\/HLB3aL1jca
        | https:\/\/t.co\/IbbT2ncYyt | https:\/\/t.co\/i9vT0NmOyw","protected":false,"verified":true,"followers_count":7190,"friends_count":5174,"listed_count":45,"favourites_count":174232,"statuses_count":58703,"created_at":"2013-02-18T05:01:04.000000Z","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/1192091185\/1711023494","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/1756873036220059648\/zc13kjbX_normal.jpg","can_dm":false},"quoted_status_id":null,"quoted_status_id_str":null,"is_quote_status":false,"quoted_status":null,"retweeted_status":null,"quote_count":0,"reply_count":1,"retweet_count":0,"favorite_count":3,"lang":"en","entities":{"hashtags":[],"media":[{"display_url":"pic.twitter.com\/C2pdtHpH7q","expanded_url":"https:\/\/twitter.com\/loftwah\/status\/1782648064190341511\/photo\/1","id_str":"1782647984855072768","indices":[24,47],"media_key":"3_1782647984855072768","media_url_https":"https:\/\/pbs.twimg.com\/media\/GL085bjaQAAHOVs.png","type":"photo","url":"https:\/\/t.co\/C2pdtHpH7q","ext_media_availability":{"status":"Available"},"features":{"large":{"faces":[{"x":132,"y":153,"h":40,"w":40},{"x":181,"y":150,"h":50,"w":50},{"x":129,"y":275,"h":97,"w":97}]},"medium":{"faces":[{"x":132,"y":153,"h":40,"w":40},{"x":181,"y":150,"h":50,"w":50},{"x":129,"y":275,"h":97,"w":97}]},"small":{"faces":[{"x":132,"y":153,"h":40,"w":40},{"x":181,"y":150,"h":50,"w":50},{"x":129,"y":275,"h":97,"w":97}]},"orig":{"faces":[{"x":132,"y":153,"h":40,"w":40},{"x":181,"y":150,"h":50,"w":50},{"x":129,"y":275,"h":97,"w":97}]}},"sizes":{"large":{"h":616,"w":615,"resize":"fit"},"medium":{"h":616,"w":615,"resize":"fit"},"small":{"h":616,"w":615,"resize":"fit"},"thumb":{"h":150,"w":150,"resize":"crop"}},"original_info":{"height":616,"width":615,"focus_rects":[{"x":0,"y":59,"w":615,"h":344},{"x":0,"y":0,"w":615,"h":615},{"x":0,"y":0,"w":540,"h":616},{"x":0,"y":0,"w":308,"h":616},{"x":0,"y":0,"w":615,"h":616}]}}],"symbols":[],"timestamps":[],"urls":[],"user_mentions":[]},"views_count":40,"bookmark_count":0,"is_pinned":false}],"next_cursor":"DAADDAABCgABGL08-DGaYYcKAAIYvTz4MZphhwAIAAIAAAACCAADAAAAAAgABAAAAAAKAAUYvT5itoAnEAoABhi9PmK2f9jwAAA"}'
  recorded_at: Tue, 23 Apr 2024 05:56:04 GMT
- request:
    method: get
    uri: https://api.socialdata.tools/twitter/search?cursor=DAADDAABCgABGL08-DGaYYcKAAIYvTz4MZphhwAIAAIAAAACCAADAAAAAAgABAAAAAAKAAUYvT5itoAnEAoABhi9PmK2f9jwAAA&query=from:loftwah%20within_time:2h
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 120|gEVUlsk53tYfMrKJDM8ZISgPXinys4SdI2taW0FW6ba1d55a
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '118'
    body:
      encoding: ASCII-8BIT
      string: '{"tweets":[],"next_cursor":null}'
  recorded_at: Tue, 23 Apr 2024 05:56:05 GMT
[...]
- request:
    method: get
    uri: https://api.socialdata.tools/twitter/search?cursor=DAADDAABCgABGL08-DGaYYcKAAIYvNDnshrADQAIAAIAAAACCAADAAAAAAgABAAAAAAKAAUYvT5mMIAnEAoABhi9PmYwf9jwAAA&query=from:loftwah%20within_time:24h
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 120|gEVUlsk53tYfMrKJDM8ZISgPXinys4SdI2taW0FW6ba1d55a
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      [...]
- request:
    method: get
    uri: https://api.socialdata.tools/twitter/search?cursor=DAADDAABCgABGL08-DGaYYcKAAIYu_VC6lrgvwAIAAIAAAACCAADAAAAAAgABAAAAAEKAAUYvT5mMIAnEAoABhi9PmYwf7HgAAA&query=from:loftwah%20within_time:24h
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 120|gEVUlsk53tYfMrKJDM8ZISgPXinys4SdI2taW0FW6ba1d55a
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '115'
    body:
      encoding: ASCII-8BIT
      string: '{"tweets":[],"next_cursor":null}'
  recorded_at: Tue, 23 Apr 2024 05:56:13 GMT
- request:
    method: get
    uri: https://api.socialdata.tools/twitter/search?query=from:loftwah%20since_time:1713841157%20since_time:1713785823
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 120|gEVUlsk53tYfMrKJDM8ZISgPXinys4SdI2taW0FW6ba1d55a
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '116'
 [...]
- request:
    method: get
    uri: https://api.socialdata.tools/twitter/search?cursor=DAADDAABCgABGL1W8ODbEXgKAAIYvTXEz9pB0wAIAAIAAAACCAADAAAAAAgABAAAAAAKAAUYvVjhW4AnEAoABhi9WOFbf9jwAAA&query=from:loftwah%20since_time:1713841157%20since_time:1713785823
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 120|gEVUlsk53tYfMrKJDM8ZISgPXinys4SdI2taW0FW6ba1d55a
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
 [...]
- request:
    method: get
    uri: https://api.socialdata.tools/twitter/search?cursor=DAADDAABCgABGL1W8ODbEXgKAAIYvRXta1rAogAIAAIAAAACCAADAAAAAAgABAAAAAEKAAUYvVjhW4AnEAoABhi9WOFbf7HgAAA&query=from:loftwah%20since_time:1713841157%20since_time:1713785823
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 120|gEVUlsk53tYfMrKJDM8ZISgPXinys4SdI2taW0FW6ba1d55a
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '119'
    body:
      encoding: ASCII-8BIT
      string: '{"tweets":[],"next_cursor":null}'
  recorded_at: Tue, 23 Apr 2024 07:51:54 GMT
- request:
    method: get
    uri: https://api.socialdata.tools/twitter/search?query=from:loftwah%20since_time:1713785823%20until_time:1713841157
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 120|gEVUlsk53tYfMrKJDM8ZISgPXinys4SdI2taW0FW6ba1d55a
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '119'
 [...]
- request:
    method: get
    uri: https://api.socialdata.tools/twitter/search?cursor=DAADDAABCgABGL0B-H5aQMkKAAIYvPSaDhqBswAIAAIAAAACCAADAAAAAAgABAAAAAAKAAUYvVp2kwAnEAoABhi9WnaS_9jwAAA&query=from:loftwah%20since_time:1713785823%20until_time:1713841157
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 120|gEVUlsk53tYfMrKJDM8ZISgPXinys4SdI2taW0FW6ba1d55a
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
 [...]
- request:
    method: get
    uri: https://api.socialdata.tools/twitter/search?cursor=DAADDAABCgABGL0B-H5aQMkKAAIYvN7kjZpwswAIAAIAAAACCAADAAAAAAgABAAAAAEKAAUYvVp2kwAnEAoABhi9WnaS_7HgAAA&query=from:loftwah%20since_time:1713785823%20until_time:1713841157
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 120|gEVUlsk53tYfMrKJDM8ZISgPXinys4SdI2taW0FW6ba1d55a
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
 [...]
- request:
    method: get
    uri: https://api.socialdata.tools/twitter/search?cursor=DAADDAABCgABGL0B-H5aQMkKAAIYvFEziZsxrQAIAAIAAAACCAADAAAAAAgABAAAAAIKAAUYvVp2kwAnEAoABhi9WnaS_4rQAAA&query=from:loftwah%20since_time:1713785823%20until_time:1713841157
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 120|gEVUlsk53tYfMrKJDM8ZISgPXinys4SdI2taW0FW6ba1d55a
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
 [...]
- request:
    method: get
    uri: https://api.socialdata.tools/twitter/search?cursor=DAADDAABCgABGL0B-H5aQMkKAAIYvET32NshIgAIAAIAAAACCAADAAAAAAgABAAAAAMKAAUYvVp2kwAnEAoABhi9WnaS_2PAAAA&query=from:loftwah%20since_time:1713785823%20until_time:1713841157
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 120|gEVUlsk53tYfMrKJDM8ZISgPXinys4SdI2taW0FW6ba1d55a
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
 [...]
- request:
    method: get
    uri: https://api.socialdata.tools/twitter/search?cursor=DAADDAABCgABGL0B-H5aQMkKAAIYvEPv3NuQNAAIAAIAAAACCAADAAAAAAgABAAAAAQKAAUYvVp2kwAnEAoABhi9WnaS_zywAAA&query=from:loftwah%20since_time:1713785823%20until_time:1713841157
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 120|gEVUlsk53tYfMrKJDM8ZISgPXinys4SdI2taW0FW6ba1d55a
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '114'
    body:
      encoding: ASCII-8BIT
      string: '{"tweets":[],"next_cursor":null}'
  recorded_at: Tue, 23 Apr 2024 07:58:56 GMT
[...]
- request:
    method: get
    uri: https://api.socialdata.tools/twitter/search?cursor=DAADDAABCgABGL0BPvLbUV8KAAIYvE83P5thsgAIAAIAAAACCAADAAAAAAgABAAAAAAKAAUYvV4M1AAnEAoABhi9XgzT_9jwAAA&query=from:loftwah%20since_time:1713785823%20until_time:1713841157
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 120|gEVUlsk53tYfMrKJDM8ZISgPXinys4SdI2taW0FW6ba1d55a
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
 [...]
- request:
    method: get
    uri: https://api.socialdata.tools/twitter/search?cursor=DAADDAABCgABGL0BPvLbUV8KAAIYvEPv3NuQNAAIAAIAAAACCAADAAAAAAgABAAAAAEKAAUYvV4M1AAnEAoABhi9XgzT_7HgAAA&query=from:loftwah%20since_time:1713785823%20until_time:1713841157
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 120|gEVUlsk53tYfMrKJDM8ZISgPXinys4SdI2taW0FW6ba1d55a
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '117'
    body:
      encoding: ASCII-8BIT
      string: '{"tweets":[],"next_cursor":null}'
  recorded_at: Tue, 23 Apr 2024 08:14:30 GMT
recorded_with: VCR 6.2.0
