---
http_interactions:
- request:
    method: get
    uri: https://api.socialdata.tools/twitter/search?query=from:loftwah%20within_time:2h%20-filter:replies
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 120|gEVUlsk53tYfMrKJDM8ZISgPXinys4SdI2taW0FW6ba1d55a
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '119'
    body:
      encoding: ASCII-8BIT
      string: '{"tweets":[{"tweet_created_at":"2024-04-23T02:59:18.000000Z","id":1782605136961126562,"id_str":"1782605136961126562","text":null,"full_text":"One
        of the most underrated experiences is starting a dumpster fire online before
        bed and reading the responses with your morning coffee when you wake up.","source":"<a
        href=\"https:\/\/mobile.twitter.com\" rel=\"nofollow\">Twitter Web App<\/a>","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":1192091185,"id_str":"1192091185","name":"Loftwah","screen_name":"loftwah","location":"Earth","url":"https:\/\/biodrop.io\/loftwah","description":"Revolutionize
        Your Social Media Strategy with Echosight | https:\/\/t.co\/wMI0Lub79k | https:\/\/t.co\/HLB3aL1jca
        | https:\/\/t.co\/IbbT2ncYyt | https:\/\/t.co\/i9vT0NmOyw","protected":false,"verified":true,"followers_count":7187,"friends_count":5175,"listed_count":45,"favourites_count":174155,"statuses_count":58696,"created_at":"2013-02-18T05:01:04.000000Z","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/1192091185\/1711023494","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/1756873036220059648\/zc13kjbX_normal.jpg","can_dm":false},"quoted_status_id":null,"quoted_status_id_str":null,"is_quote_status":false,"quoted_status":null,"retweeted_status":null,"quote_count":0,"reply_count":0,"retweet_count":0,"favorite_count":0,"lang":"en","entities":{"hashtags":[],"symbols":[],"timestamps":[],"urls":[],"user_mentions":[]},"views_count":null,"bookmark_count":0,"is_pinned":false},{"tweet_created_at":"2024-04-23T01:28:56.000000Z","id":1782582397382644063,"id_str":"1782582397382644063","text":null,"full_text":"When
        Twitter\/X fixes video views but yours start in the red. https:\/\/t.co\/e5ayEjOS9k","source":"<a
        href=\"https:\/\/mobile.twitter.com\" rel=\"nofollow\">Twitter Web App<\/a>","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":nu[...]
- request:
    method: get
    uri: https://api.socialdata.tools/twitter/search?cursor=DAADDAABCgABGL0V7WtawKIKAAIYvNDnshrADQAIAAIAAAACCAADAAAAAAgABAAAAAAKAAUYvRvJB8AnEAoABhi9G8kHv9jwAAA&query=from:loftwah%20within_time:6h%20-filter:replies
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 120|gEVUlsk53tYfMrKJDM8ZISgPXinys4SdI2taW0FW6ba1d55a
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '117'
    body:
      encoding: ASCII-8BIT
      string: '{"tweets":[],"next_cursor":null}'
  recorded_at: Tue, 23 Apr 2024 03:24:57 GMT
[...]
- request:
    method: get
    uri: https://api.socialdata.tools/twitter/search?cursor=DAADDAABCgABGL0V7WtawKIKAAIYvMWhDVoBOgAIAAIAAAACCAADAAAAAAgABAAAAAAKAAUYvRveuoAnEAoABhi9G966f9jwAAA&query=from:loftwah%20within_time:8h%20-filter:replies
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 120|gEVUlsk53tYfMrKJDM8ZISgPXinys4SdI2taW0FW6ba1d55a
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '115'
    body:
      encoding: ASCII-8BIT
      string: '{"tweets":[],"next_cursor":null}'
  recorded_at: Tue, 23 Apr 2024 03:25:18 GMT
- request:
    method: get
    uri: https://api.socialdata.tools/twitter/search?cursor=DAADDAABCgABGL0V7WtawKIKAAIYvPscKBsRuQAIAAIAAAACCAADAAAAAAgABAAAAAAKAAUYvRX51cAnEAoABhi9FfnVv9jwAAA&query=from:loftwah%20within_time:2h%20-filter:replies
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 120|gEVUlsk53tYfMrKJDM8ZISgPXinys4SdI2taW0FW6ba1d55a
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '119'
    body:
      encoding: ASCII-8BIT
      string: '{"tweets":[],"next_cursor":null}'
  recorded_at: Tue, 23 Apr 2024 03:26:16 GMT
[...]
- request:
    method: get
    uri: https://api.socialdata.tools/twitter/search?cursor=DAADDAABCgABGL0V7WtawKIKAAIYvMWhDVoBOgAIAAIAAAACCAADAAAAAAgABAAAAAAKAAUYvRw47QAnEAoABhi9HDjs_9jwAAA&query=from:loftwah%20within_time:24h%20-filter:replies
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 120|gEVUlsk53tYfMrKJDM8ZISgPXinys4SdI2taW0FW6ba1d55a
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - appli[...]
- request:
    method: get
    uri: https://api.socialdata.tools/twitter/search?cursor=DAADDAABCgABGL0V7WtawKIKAAIYu_OgDdtwSwAIAAIAAAACCAADAAAAAAgABAAAAAEKAAUYvRw47QAnEAoABhi9HDjs_7HgAAA&query=from:loftwah%20within_time:24h%20-filter:replies
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 120|gEVUlsk53tYfMrKJDM8ZISgPXinys4SdI2taW0FW6ba1d55a
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - appli[...]
- request:
    method: get
    uri: https://api.socialdata.tools/twitter/search?cursor=DAADDAABCgABGL0V7WtawKIKAAIYu9LAlxuxlwAIAAIAAAACCAADAAAAAAgABAAAAAIKAAUYvRw47QAnEAoABhi9HDjs_4rQAAA&query=from:loftwah%20within_time:24h%20-filter:replies
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 120|gEVUlsk53tYfMrKJDM8ZISgPXinys4SdI2taW0FW6ba1d55a
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '113'
    body:
      encoding: ASCII-8BIT
      string: '{"tweets":[],"next_cursor":null}'
  recorded_at: Tue, 23 Apr 2024 03:26:56 GMT
recorded_with: VCR 6.2.0
