---
http_interactions:
- request:
    method: get
    uri: https://api.socialdata.tools/twitter/search?query=from:TopherToy%20within_time:1h
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 120|gEVUlsk53tYfMrKJDM8ZISgPXinys4SdI2taW0FW6ba1d55a
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '118'
    body:
      encoding: ASCII-8BIT
      string: '{"tweets":[],"next_cursor":null}'
  recorded_at: Tue, 05 Mar 2024 18:58:03 GMT
- request:
    method: get
    uri: https://api.socialdata.tools/twitter/search?query=from:elonmusk%20within_time:1h
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 120|gEVUlsk53tYfMrKJDM8ZISgPXinys4SdI2taW0FW6ba1d55a
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '119'
    body:
      encoding: ASCII-8BIT
      string: '{"tweets":[],"next_cursor":null}'
  recorded_at: Tue, 05 Mar 2024 19:01:13 GMT
- request:
    method: get
    uri: https://api.socialdata.tools/twitter/search?query=from:elonmusk%20within_time:4h
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 120|gEVUlsk53tYfMrKJDM8ZISgPXinys4SdI2taW0FW6ba1d55a
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '118'
    body:
      encoding: ASCII-8BIT
      string: '{"tweets":[{"tweet_created_at":"2024-03-05T17:58:14.000000Z","id":1765074353962860870,"id_str":"1765074353962860870","text":null,"full_text":"@WallStreetSilv
        Amazing \ud83d\ude02","source":"<a href=\"http:\/\/twitter.com\/download\/iphone\"
        rel=\"nofollow\">Twitter for iPhone<\/a>","truncated":false,"in_reply_to_status_id":1765062788152791342,"in_reply_to_status_id_str":"1765062788152791342","in_reply_to_user_id":1366565625401909249,"in_reply_to_user_id_str":"1366565625401909249","in_reply_to_screen_name":"WallStreetSilv","user":{"id":44196397,"id_str":"44196397","name":"Elon
        Musk","screen_name":"elonmusk","location":"","url":null,"description":"","protected":false,"verified":true,"followers_count":175202308,"friends_count":551,"listed_count":149004,"favourites_count":44440,"statuses_count":39248,"created_at":"2009-06-02T20:12:29.000000Z","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/44196397\/1690621312","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/1683325380441128960\/yRsRRjGO_normal.jpg","can_dm":false},"quoted_status_id":null,"quoted_status_id_str":null,"is_quote_status":false,"quoted_status":null,"retweeted_status":null,"quote_count":15,"reply_count":142,"retweet_count":95,"favorite_count":964,"lang":"en","entities":{"hashtags":[],"symbols":[],"timestamps":[],"urls":[],"user_mentions":[{"id_str":"1366565625401909249","name":"Wall
        Street Silver","screen_name":"WallStreetSilv","indices":[0,15]}]},"views_count":64187,"bookmark_count":23,"is_pinned":false},{"tweet_created_at":"2024-03-05T17:57:14.000000Z","id":1765074104686936143,"id_str":"1765074104686936143","text":null,"full_text":"Real-time
        systems ftw","source":"<a href=\"http:\/\/twitter.com\/download\/iphone\"
        rel=\"nofollow\">Twitter for iPhone<\/a>","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":44196397,"id_str":"44196397","name":"E[...]
- request:
    method: get
    uri: https://api.socialdata.tools/twitter/search?query=from:TopherToy%20within_time:15m
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 120|gEVUlsk53tYfMrKJDM8ZISgPXinys4SdI2taW0FW6ba1d55a
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '119'
    body:
      encoding: ASC[...]
