---
http_interactions:
- request:
    method: get
    uri: https://api.socialdata.tools/twitter/search?query=from:tophertoy%20within_time:15m
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 120|gEVUlsk53tYfMrKJDM8ZISgPXinys4SdI2taW0FW6ba1d55a
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '119'
    body:
      encoding: ASCII-8BIT
      string: '{"tweets":[{"tweet_created_at":"2024-03-06T03:05:56.000000Z","id":1765212190418899365,"id_str":"1765212190418899365","text":null,"full_text":"to
        come to","source":"<a href=\"https:\/\/mobile.twitter.com\" rel=\"nofollow\">Twitter
        Web App<\/a>","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":1691930809756991488,"id_str":"1691930809756991488","name":"Topher","screen_name":"TopherToy","location":"","url":null,"description":"Revolutionize
        Your Twitter\/X Strategy with Echosight https:\/\/t.co\/uZpeIYc5Nq","protected":false,"verified":false,"followers_count":5,"friends_count":16,"listed_count":0,"favourites_count":11,"statuses_count":31,"created_at":"2023-08-16T21:52:25.000000Z","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/1691930809756991488\/1702516482","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/1729697224278552576\/pa9ZhTkQ_normal.jpg","can_dm":false},"quoted_status_id":null,"quoted_status_id_str":null,"is_quote_status":false,"quoted_status":null,"retweeted_status":null,"quote_count":0,"reply_count":0,"retweet_count":0,"favorite_count":0,"lang":"en","entities":{"hashtags":[],"symbols":[],"timestamps":[],"urls":[],"user_mentions":[]},"views_count":1,"bookmark_count":0,"is_pinned":false},{"tweet_created_at":"2024-03-06T03:05:51.000000Z","id":1765212169359314949,"id_str":"1765212169359314949","text":null,"full_text":"for
        all good men","source":"<a href=\"https:\/\/mobile.twitter.com\" rel=\"nofollow\">Twitter
        Web App<\/a>","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":1691930809756991488,"id_str":"1691930809756991488","name[...]
- request:
    method: get
    uri: https://api.socialdata.tools/twitter/search?cursor=DAADDAABCgABGH9LInsbkaUKAAIYf0sUplsAaAAIAAIAAAACCAADAAAAAAgABAAAAAAKAAUYf0s0UsAnEAoABhh_SzRSv9jwAAA&query=from:tophertoy%20within_time:15m
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 120|gEVUlsk53tYfMrKJDM8ZISgPXinys4SdI2taW0FW6ba1d55a
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '118'
    body:
      encoding: ASCII-8BIT
      string: '{"tweets":[],"next_cursor":null}'
  recorded_at: Wed, 06 Mar 2024 03:06:17 GMT
recorded_with: VCR 6.2.0
