---
http_interactions:
- request:
    method: get
    uri: https://api.socialdata.tools/twitter/user/1192091185/tweets?cursor=DAABCgABGHre43M__-MKAAIYenJdwFpwcQgAAwAAAAIAAA
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 120|gEVUlsk53tYfMrKJDM8ZISgPXinys4SdI2taW0FW6ba1d55a
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '118'
    body:
      encoding: ASCII-8BIT
      string: '{"tweets":[{"tweet_created_at":"2023-11-24T03:04:25.000000Z","id":1727885856499974548,"id_str":"1727885856499974548","text":null,"full_text":"I
        updated this to use Go instead of Ruby.\n\n\u279c  coolbio git:(main) \u2717
        go run main.go\n\ud83d\udc4b Hey, check this out:\n------------------------\n\ud83d\udc64
        Name: Dean Lofts (Alias: Loftwah)\n\ud83d\udcbc Profession: Senior DevOps
        Engineer & AI Enthusiast\n\ud83d\udee0\ufe0f Skills: Go, AI, Docker, Linux,
        Cloud Infrastructure\n\ud83d\udd17 Projects: 1on1-automation, echo-playground,
        OpenAI Demonstrations\n\ud83c\udfb5 Music Production: Loftwah\n\ud83c\udf96\ufe0f
        Military Awards: Iraq Medal, Australian Active Service Medal, Australian Defence
        Medal\n\ud83e\udde0 Technical Leadership: Pioneered the integration of Tailscale
        for enhanced security across the network\n\ud83d\udca1 Innovation: Developed
        and managed custom deployment systems using Ruby and AWS SDK\n\ud83d\udc65
        Mentorship: Guided teams in DevOps best practices, influencing company-wide
        adoption\n\ud83c\udf1f External Recognition: Produced a music track with over
        300k streams, engaged in tech community growth\n\ud83d\udca5 Impact: Implemented
        cost optimizations saving a third of salary in monthly AWS costs\n\ud83d\udee0\ufe0f
        Favorite Tools: Go, Terraform, AWS, VSCode\n------------------------","source":"<a
        href=\"https:\/\/mobile.twitter.com\" rel=\"nofollow\">Twitter Web App<\/a>","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":1192091185,"id_str":"1192091185","name":"Loftwah","screen_name":"loftwah","location":"Earth","url":"https:\/\/biodrop.io\/loftwah","description":"Revolutionize
        Your Social Media Strategy with Echosight | https:\/\/t.co\/wMI0LubEYS | https:\/\/t.co\/HLB3aL1R1I
        | https:\/\/t.co\/aYAfScUFBU | https:\/\/t.co\/0Nsgyrjd7y","protected":false,"verified":true,"followers_count":6635,"friends_count":4541,"listed_count":39,"favourites_count":146126,"statuses_count":52436,"created_at":"2013-02-18T05:01:04.000000Z","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/1192091185\/1707817030","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/1756873036220059648\/zc13kjbX_normal.jpg","can_dm":false},"quoted_status_id":null,"quoted_status_id_str":"1704435778338873698","is_quote_status":true,"quoted_status":{"tweet_created_at":"2023-09-20T10:02:11.000000Z","id":1704435778338873698,"id_str":"1704435778338873698","text":null,"full_text":"\u279c  custom-dashboard
        git:(main) \u2717 ruby coolbio.rb\n\ud83d\udc4b Hey, check this out:\n------------------------\n\ud83d\udc64
        Name: Dean Lofts (Alias: Loftwah)\n\ud83d\udcbc Profession: AWS-certified
        Senior DevOps Engineer\n\ud83d\udee0\ufe0f Skills: REST, Docker, Linux, Cloud
        Computing, AI, Network Security\n\ud83d\udd17 Projects: Linkarooie, EddieHub\n\ud83c\udfb5
        Music Alias: Loftwah The Beatsmiff\n\ud83c\udf96\ufe0f Military Awards: Iraq
        Medal, Australian Active Service Medal, Australian Defence Medal\n\ud83c\udf10
        Diverse Experience: Defence, Mining, SaaS\n\ud83d\udc68\u200d\ud83d\udc67
        Family: Father and dog owner\n\u23f0 Peak Time: Afternoon-Evening\n\ud83d\udd20
        Personality: ISTP-A\n\ud83d\udde8\ufe0f Language: English (WPM: 151)\n\ud83d\udee0\ufe0f
        Favorite Tools: AWS, GitHub, Ruby, VSCode\n------------------------","source":"<a
        href=\"https:\/\/mobile.twitter.com\" rel=\"nofollow\">Twitter Web App<\/a>","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":1192091185,"id_str":"1192091185","name":"Loftwah","screen_name":"loftwah","location":"Earth","url":"https:\/\/biodrop.io\/loftwah","description":"Revolutionize
        Your Social Media Strategy with Echosight | https:\/\/t.co\/wMI0LubEYS | https:\/\/t.co\/HLB3aL1R1I
        | https:\/\/t.co\/aYAfScUFBU | https:\/\/t.co\/0Nsgyrjd7y","protected":false,"verified":true,"followers_count":6635,"friends_count":4541,"listed_count":39,"favourites_count":146126,"statuses_count":52436,"created_at":"2013-02-18T05:01:04.000000Z","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/1192091185\/1707817030","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/1756873036220059648\/zc13kjbX_normal.jpg","can_dm":false},"quoted_status_id":null,"quoted_status_id_str":null,"is_quote_status":false,"quoted_status":null,"retweeted_status":null,"quote_count":1,"reply_count":2,"retweet_count":0,"favorite_count":20,"lang":"en","entities":{"media":[{"display_url":"pic.twitter.com\/pZzEguOGKv","expanded_url":"https:\/\/twitter.com\/loftwah\/status\/1704435778338873698\/photo\/1","id_str":"1704435516278804480","indices":[267,290],"media_key":"3_1704435516278804480","media_url_https":"https:\/\/pbs.twimg.com\/media\/F6dfElJbkAA_ALu.jpg","type":"photo","url":"https:\/\/t.co\/pZzEguOGKv","ext_media_availability":{"status":"Available"},"features":{"large":{"faces":[{"x":65,"y":1111,"h":293,"w":293}]},"medium":{"faces":[{"x":38,"y":651,"h":172,"w":172}]},"small":{"faces":[{"x":21,"y":369,"h":97,"w":97}]},"orig":{"faces":[{"x":70,"y":1192,"h":315,"w":315}]}},"sizes":{"large":{"h":2048,"w":1910,"resize":"fit"},"medium":{"h":1200,"w":1119,"resize":"fit"},"small":{"h":680,"w":634,"resize":"fit"},"thumb":{"h":150,"w":150,"resize":"crop"}},"original_info":{"height":2196,"width":2048,"focus_rects":[{"x":0,"y":0,"w":2048,"h":1147},{"x":0,"y":0,"w":2048,"h":2048},{"x":0,"y":0,"w":1926,"h":2196},{"x":0,"y":0,"w":1098,"h":2196},{"x":0,"y":0,"w":2048,"h":2196}]}}],"user_mentions":[],"urls":[],"hashtags":[],"symbols":[]},"views_count":27911,"bookmark_count":2},"retweeted_status":null,"quote_count":1,"reply_count":5,"retweet_count":5,"favorite_count":56,"lang":"en","entities":{"media":[{"display_url":"pic.twitter.com\/R8RWjeU5T0","expanded_url":"https:\/\/twitter.com\/loftwah\/status\/1727885856499974548\/photo\/1","id_str":"1727885830365282304","indices":[279,302],"media_key":"3_1727885830365282304","media_url_https":"https:\/\/pbs.twimg.com\/media\/F_qvAgtagAAYHuZ.jpg","type":"photo","url":"https:\/\/t.co\/R8RWjeU5T0","ext_media_availability":{"st[...]
- request:
    method: get
    uri: https://api.socialdata.tools/twitter/user/1192091185/tweets?cursor=DAABCgABGHre43M__8cKAAIYeh7nV9oQYQgAAwAAAAIAAA
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 120|gEVUlsk53tYfMrKJDM8ZISgPXinys4SdI2taW0FW6ba1d55a
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '117[...]
- request:
    method: get
    uri: https://api.socialdata.tools/twitter/user/1192091185/tweets
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 120|gEVUlsk53tYfMrKJDM8ZISgPXinys4SdI2taW0FW6ba1d55a
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '119'
    body:
      encoding: ASCII-8BIT
      string: '[...]
- request:
    method: get
    uri: https://api.socialdata.tools/twitter/user/1192091185/tweets?cursor=DAABCgABGH2wWSO__-QKAAIYfHGDIBth2AgAAwAAAAIAAA
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 120|gEVUlsk53tYfMrKJDM8ZISgPXinys4SdI2taW0FW6ba1d55a
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '118[...]
- request:
    method: get
    uri: https://api.socialdata.tools/twitter/user/1192091185/tweets?cursor=DAABCgABGH2wWSO__8kKAAIYe4uOOltgAwgAAwAAAAIAAA
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 120|gEVUlsk53tYfMrKJDM8ZISgPXinys4SdI2taW0FW6ba1d55a
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '119[...]
