---
http_interactions:
- request:
    method: get
    uri: https://api.socialdata.tools/twitter/search?query=from:loftwah%20within_time:14d
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 120|gEVUlsk53tYfMrKJDM8ZISgPXinys4SdI2taW0FW6ba1d55a
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '119'
    body:
      encoding: ASCII-8BIT
      string: '{"tweets":[{"tweet_created_at":"2024-03-06T01:34:57.000000Z","id":1765189290131399049,"id_str":"1765189290131399049","text":null,"full_text":"@drewskadoosh
        @ziademarcus Are you married to a shinigami?","source":"<a href=\"http:\/\/twitter.com\/download\/iphone\"
        rel=\"nofollow\">Twitter for iPhone<\/a>","truncated":false,"in_reply_to_status_id":1765185894917566656,"in_reply_to_status_id_str":"1765185894917566656","in_reply_to_user_id":1696262200405463040,"in_reply_to_user_id_str":"1696262200405463040","in_reply_to_screen_name":"drewskadoosh","user":{"id":1192091185,"id_str":"1192091185","name":"Loftwah","screen_name":"loftwah","location":"Earth","url":"https:\/\/biodrop.io\/loftwah","description":"Revolutionize
        Your Social Media Strategy with Echosight | https:\/\/t.co\/wMI0LubEYS | https:\/\/t.co\/HLB3aL1R1I
        | https:\/\/t.co\/IbbT2ndwo1 | https:\/\/t.co\/i9vT0Nnmo4","protected":false,"verified":true,"followers_count":6676,"friends_count":4554,"listed_count":42,"favourites_count":147520,"statuses_count":52729,"created_at":"2013-02-18T05:01:04.000000Z","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/1192091185\/1707817030","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/1756873036220059648\/zc13kjbX_normal.jpg","can_dm":false},"quoted_status_id":null,"quoted_status_id_str":null,"is_quote_status":false,"quoted_status":null,"retweeted_status":null,"quote_count":0,"reply_count":1,"retweet_count":0,"favorite_count":1,"lang":"en","entities":{"hashtags":[],"symbols":[],"timestamps":[],"urls":[],"user_mentions":[{"id_str":"1696262200405463040","name":"drew","screen_name":"drewskadoosh","indices":[0,13]},{"id_str":"1160223221037305856","name":"Marcus","screen_name":"ziademarcus","indices":[14,26]}]},"views_count":null,"bookmark_count":0,"is_pinned":false},{"tweet_created_at":"2024-03-06T01:11:54.000000Z","id":1765183489337430042,"id_str":"1765183489337430042","text":null,"full_text":"@DanielW_Kiwi
        Nope, I never got to hold it myself.","source":"<a href=\"https:\/\/mobile.twitter.com\"
        rel=\"nofollow\">Twitter Web App<\/a>","truncated":false,"in_reply_to_status_id":1765182670047424610,"in_reply_to_status_id_str":"1765182670047424610","in_reply_to_user_id":1681895119232946178,"in_reply_to_user_id_str":"1681895119232946178","i[...]
- request:
    method: get
    uri: https://api.socialdata.tools/twitter/search?cursor=DAADDAABCgABGH82TpebIYkKAAIYfxR7FZuQzQAIAAIAAAACCAADAAAAAAgABAAAAAAKAAUYfz23v0AnEAoABhh_Pbe_P9jwAAA&query=from:loftwah%20within_time:14d
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 120|gEVUlsk53tYfMrKJDM8ZISgPXinys4SdI2taW0FW6ba1d55a
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      [...]
- request:
    method: get
    uri: https://api.socialdata.tools/twitter/search?cursor=DAADDAABCgABGH82TpebIYkKAAIYfkJjcpeBBwAIAAIAAAACCAADAAAAAAgABAAAAAEKAAUYfz23v0AnEAoABhh_Pbe_P7HgAAA&query=from:loftwah%20within_time:14d
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 120|gEVUlsk53tYfMrKJDM8ZISgPXinys4SdI2taW0FW6ba1d55a
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      [...]
- request:
    method: get
    uri: https://api.socialdata.tools/twitter/search?cursor=DAADDAABCgABGH82TpebIYkKAAIYfcbb29YwcgAIAAIAAAACCAADAAAAAAgABAAAAAIKAAUYfz23v0AnEAoABhh_Pbe_P4rQAAA&query=from:loftwah%20within_time:14d
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 120|gEVUlsk53tYfMrKJDM8ZISgPXinys4SdI2taW0FW6ba1d55a
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      [...]
- request:
    method: get
    uri: https://api.socialdata.tools/twitter/search?cursor=DAADDAABCgABGH82TpebIYkKAAIYfTVPnZvAHQAIAAIAAAACCAADAAAAAAgABAAAAAMKAAUYfz23v0AnEAoABhh_Pbe_P2PAAAA&query=from:loftwah%20within_time:14d
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 120|gEVUlsk53tYfMrKJDM8ZISgPXinys4SdI2taW0FW6ba1d55a
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      [...]
- request:
    method: get
    uri: https://api.socialdata.tools/twitter/search?cursor=DAADDAABCgABGH82TpebIYkKAAIYfNTBFJtRQQAIAAIAAAACCAADAAAAAAgABAAAAAQKAAUYfz23v0AnEAoABhh_Pbe_PzywAAA&query=from:loftwah%20within_time:14d
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 120|gEVUlsk53tYfMrKJDM8ZISgPXinys4SdI2taW0FW6ba1d55a
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      [...]
- request:
    method: get
    uri: https://api.socialdata.tools/twitter/search?cursor=DAADDAABCgABGH82TpebIYkKAAIYfMV_rBpggAAIAAIAAAACCAADAAAAAAgABAAAAAUKAAUYfz23v0AnEAoABhh_Pbe_PxWgAAA&query=from:loftwah%20within_time:14d
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 120|gEVUlsk53tYfMrKJDM8ZISgPXinys4SdI2taW0FW6ba1d55a
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      [...]
- request:
    method: get
    uri: https://api.socialdata.tools/twitter/search?cursor=DAADDAABCgABGH82TpebIYkKAAIYfKhRTFvBGAAIAAIAAAACCAADAAAAAAgABAAAAAYKAAUYfz23v0AnEAoABhh_Pbe_Pu6QAAA&query=from:loftwah%20within_time:14d
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 120|gEVUlsk53tYfMrKJDM8ZISgPXinys4SdI2taW0FW6ba1d55a
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      [...]
- request:
    method: get
    uri: https://api.socialdata.tools/twitter/search?cursor=DAADDAABCgABGH82TpebIYkKAAIYfIPllRuxUQAIAAIAAAACCAADAAAAAAgABAAAAAcKAAUYfz23v0AnEAoABhh_Pbe_PseAAAA&query=from:loftwah%20within_time:14d
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 120|gEVUlsk53tYfMrKJDM8ZISgPXinys4SdI2taW0FW6ba1d55a
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      [...]
- request:
    method: get
    uri: https://api.socialdata.tools/twitter/search?cursor=DAADDAABCgABGH82TpebIYkKAAIYfHHvyhtARAAIAAIAAAACCAADAAAAAAgABAAAAAgKAAUYfz23v0AnEAoABhh_Pbe_PqBwAAA&query=from:loftwah%20within_time:14d
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 120|gEVUlsk53tYfMrKJDM8ZISgPXinys4SdI2taW0FW6ba1d55a
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      [...]
- request:
    method: get
    uri: https://api.socialdata.tools/twitter/search?cursor=DAADDAABCgABGH82TpebIYkKAAIYfGZfDJqhBwAIAAIAAAACCAADAAAAAAgABAAAAAkKAAUYfz23v0AnEAoABhh_Pbe_PnlgAAA&query=from:loftwah%20within_time:14d
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 120|gEVUlsk53tYfMrKJDM8ZISgPXinys4SdI2taW0FW6ba1d55a
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      [...]
- request:
    method: get
    uri: https://api.socialdata.tools/twitter/search?cursor=DAADDAABCgABGH82TpebIYkKAAIYe-Kt_JsgGwAIAAIAAAACCAADAAAAAAgABAAAAAoKAAUYfz23v0AnEAoABhh_Pbe_PlJQAAA&query=from:loftwah%20within_time:14d
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 120|gEVUlsk53tYfMrKJDM8ZISgPXinys4SdI2taW0FW6ba1d55a
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      [...]
- request:
    method: get
    uri: https://api.socialdata.tools/twitter/search?cursor=DAADDAABCgABGH82TpebIYkKAAIYe8KAhNvAxgAIAAIAAAACCAADAAAAAAgABAAAAAsKAAUYfz23v0AnEAoABhh_Pbe_PitAAAA&query=from:loftwah%20within_time:14d
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 120|gEVUlsk53tYfMrKJDM8ZISgPXinys4SdI2taW0FW6ba1d55a
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      [...]
- request:
    method: get
    uri: https://api.socialdata.tools/twitter/search?cursor=DAADDAABCgABGH82TpebIYkKAAIYe1la5xpRPQAIAAIAAAACCAADAAAAAAgABAAAAAwKAAUYfz23v0AnEAoABhh_Pbe_PgQwAAA&query=from:loftwah%20within_time:14d
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 120|gEVUlsk53tYfMrKJDM8ZISgPXinys4SdI2taW0FW6ba1d55a
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      [...]
- request:
    method: get
    uri: https://api.socialdata.tools/twitter/search?cursor=DAADDAABCgABGH82TpebIYkKAAIYeribhhtQtQAIAAIAAAACCAADAAAAAAgABAAAAA0KAAUYfz23v0AnEAoABhh_Pbe_Pd0gAAA&query=from:loftwah%20within_time:14d
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 120|gEVUlsk53tYfMrKJDM8ZISgPXinys4SdI2taW0FW6ba1d55a
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      [...]
- request:
    method: get
    uri: https://api.socialdata.tools/twitter/search?cursor=DAADDAABCgABGH82TpebIYkKAAIYempCKloRNAAIAAIAAAACCAADAAAAAAgABAAAAA4KAAUYfz23v0AnEAoABhh_Pbe_PbYQAAA&query=from:loftwah%20within_time:14d
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 120|gEVUlsk53tYfMrKJDM8ZISgPXinys4SdI2taW0FW6ba1d55a
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      [...]
- request:
    method: get
    uri: https://api.socialdata.tools/twitter/search?cursor=DAADDAABCgABGH82TpebIYkKAAIYekK9EpqANgAIAAIAAAACCAADAAAAAAgABAAAAA8KAAUYfz23v0AnEAoABhh_Pbe_PY8AAAA&query=from:loftwah%20within_time:14d
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 120|gEVUlsk53tYfMrKJDM8ZISgPXinys4SdI2taW0FW6ba1d55a
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      [...]
- request:
    method: get
    uri: https://api.socialdata.tools/twitter/search?cursor=DAADDAABCgABGH82TpebIYkKAAIYeiLmV1ugAgAIAAIAAAACCAADAAAAAAgABAAAABAKAAUYfz23v0AnEAoABhh_Pbe_PWfwAAA&query=from:loftwah%20within_time:14d
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 120|gEVUlsk53tYfMrKJDM8ZISgPXinys4SdI2taW0FW6ba1d55a
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      [...]
- request:
    method: get
    uri: https://api.socialdata.tools/twitter/search?cursor=DAADDAABCgABGH82TpebIYkKAAIYea8FBJpwOAAIAAIAAAACCAADAAAAAAgABAAAABEKAAUYfz23v0AnEAoABhh_Pbe_PUDgAAA&query=from:loftwah%20within_time:14d
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 120|gEVUlsk53tYfMrKJDM8ZISgPXinys4SdI2taW0FW6ba1d55a
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      [...]
- request:
    method: get
    uri: https://api.socialdata.tools/twitter/search?cursor=DAADDAABCgABGH82TpebIYkKAAIYeUsZONshrwAIAAIAAAACCAADAAAAAAgABAAAABIKAAUYfz23v0AnEAoABhh_Pbe_PRnQAAA&query=from:loftwah%20within_time:14d
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 120|gEVUlsk53tYfMrKJDM8ZISgPXinys4SdI2taW0FW6ba1d55a
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      [...]
- request:
    method: get
    uri: https://api.socialdata.tools/twitter/search?cursor=DAADDAABCgABGH82TpebIYkKAAIYeTT8P9pxBgAIAAIAAAACCAADAAAAAAgABAAAABMKAAUYfz23v0AnEAoABhh_Pbe_PPLAAAA&query=from:loftwah%20within_time:14d
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 120|gEVUlsk53tYfMrKJDM8ZISgPXinys4SdI2taW0FW6ba1d55a
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      [...]
- request:
    method: get
    uri: https://api.socialdata.tools/twitter/search?cursor=DAADDAABCgABGH82TpebIYkKAAIYeScwxFrx7wAIAAIAAAACCAADAAAAAAgABAAAABQKAAUYfz23v0AnEAoABhh_Pbe_PMuwAAA&query=from:loftwah%20within_time:14d
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 120|gEVUlsk53tYfMrKJDM8ZISgPXinys4SdI2taW0FW6ba1d55a
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      [...]
- request:
    method: get
    uri: https://api.socialdata.tools/twitter/search?cursor=DAADDAABCgABGH82TpebIYkKAAIYeOGKMRtRugAIAAIAAAACCAADAAAAAAgABAAAABUKAAUYfz23v0AnEAoABhh_Pbe_PKSgAAA&query=from:loftwah%20within_time:14d
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 120|gEVUlsk53tYfMrKJDM8ZISgPXinys4SdI2taW0FW6ba1d55a
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      [...]
- request:
    method: get
    uri: https://api.socialdata.tools/twitter/search?cursor=DAADDAABCgABGH82TpebIYkKAAIYeNUjSdshoAAIAAIAAAACCAADAAAAAAgABAAAABYKAAUYfz23v0AnEAoABhh_Pbe_PH2QAAA&query=from:loftwah%20within_time:14d
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 120|gEVUlsk53tYfMrKJDM8ZISgPXinys4SdI2taW0FW6ba1d55a
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      [...]
