---
http_interactions:
- request:
    method: get
    uri: https://api.socialdata.tools/twitter/search?query=from:loftwah%20since_time:1713835732%20until_time:1713835740
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 120|gEVUlsk53tYfMrKJDM8ZISgPXinys4SdI2taW0FW6ba1d55a
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '119'
    body:
      encoding: ASCII-8BIT
      string: '{"tweets":[{"tweet_created_at":"2024-04-23T07:43:21.000000Z","id":1782676620073177464,"id_str":"1782676620073177464","text":null,"full_text":"@unclebeany1989
        Yeah I can blame them they\u2019re just doing what they can and don\u2019t
        exactly get compensated enough.","source":"<a href=\"http:\/\/twitter.com\/download\/iphone\"
        rel=\"nofollow\">Twitter for iPhone<\/a>","truncated":false,"in_reply_to_status_id":1782675602417602726,"in_reply_to_status_id_str":"1782675602417602726","in_reply_to_user_id":1636090105021726720,"in_reply_to_user_id_str":"1636090105021726720","in_reply_to_screen_name":"unclebeany1989","user":{"id":1192091185,"id_str":"1192091185","name":"Loftwah","screen_name":"loftwah","location":"Earth","url":"https:\/\/biodrop.io\/loftwah","description":"Revolutionize
        Your Social Media Strategy with Echosight | https:\/\/t.co\/wMI0Lub79k | https:\/\/t.co\/HLB3aL1jca
        | https:\/\/t.co\/IbbT2ncYyt | https:\/\/t.co\/i9vT0NmOyw","protected":false,"verified":true,"followers_count":7190,"friends_count":5176,"listed_count":45,"favourites_count":174262,"statuses_count":58724,"created_at":"2013-02-18T05:01:04.000000Z","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/1192091185\/1711023494","profile_image_url_https":"https:\/\/pbs.twimg.com\/profile_images\/1756873036220059648\/zc13kjbX_normal.jpg","can_dm":false},"quoted_status_id":null,"quoted_status_id_str":null,"is_quote_status":false,"quoted_status":null,"retweeted_status":null,"quote_count":0,"reply_count":0,"retweet_count":0,"favorite_count":0,"lang":"en","entities":{"hashtags":[],"symbols":[],"timestamps":[],"urls":[],"user_mentions":[{"id_str":"1636090105021726720","name":"Uncle
        Beany","screen_name":"unclebeany1989","indices":[0,15]}]},"views_count":1,"bookmark_count":0,"is_pinned":false},{"tweet_created_at":"2024-04-23T07:22:32.000000Z","id":1782671383706902763,"id_str":"1782671383706902763","text":null,"full_text":"@totalpraetorian
        Especially when done near their face and without covering yours \ud83d\ude05","source":"<a
        href=\"https:\/\/mobile.twitter.com\" rel=\"nofollow\">Twitter Web App<\/a>","truncated":false,"in_reply_to_status_id":1782670034914910533,"in_reply_to_status_id_str":"1782670034914910533","in_reply_to_user_id":11166322,"in_reply_to_user_[...]
- request:
    method: get
    uri: https://api.socialdata.tools/twitter/search?cursor=DAADDAABCgABGL1W8ODbEXgKAAIYvTXEz9pB0wAIAAIAAAACCAADAAAAAAgABAAAAAAKAAUYvViqHQAnEAoABhi9WKoc_9jwAAA&query=from:loftwah%20since_time:1713835732%20until_time:1713835740
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 120|gEVUlsk53tYfMrKJDM8ZISgPXinys4SdI2taW0FW6ba1d55a
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
 [...]
- request:
    method: get
    uri: https://api.socialdata.tools/twitter/search?cursor=DAADDAABCgABGL1W8ODbEXgKAAIYvRXta1rAogAIAAIAAAACCAADAAAAAAgABAAAAAEKAAUYvViqHQAnEAoABhi9WKoc_7HgAAA&query=from:loftwah%20since_time:1713835732%20until_time:1713835740
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 120|gEVUlsk53tYfMrKJDM8ZISgPXinys4SdI2taW0FW6ba1d55a
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '117'
    body:
      encoding: ASCII-8BIT
      string: '{"tweets":[],"next_cursor":null}'
  recorded_at: Tue, 23 Apr 2024 07:50:58 GMT
[...]
- request:
    method: get
    uri: https://api.socialdata.tools/twitter/search?cursor=DAADDAABCgABGL1W8ODbEXgKAAIYvTXEz9pB0wAIAAIAAAACCAADAAAAAAgABAAAAAAKAAUY2Ytq_EAnEAoABhjZi2r8P9jwAAA&query=from:loftwah%20since_time:1713841157%20until_time:1713858202
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 120|gEVUlsk53tYfMrKJDM8ZISgPXinys4SdI2taW0FW6ba1d55a
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
 [...]
- request:
    method: get
    uri: https://api.socialdata.tools/twitter/search?cursor=DAADDAABCgABGL1W8ODbEXgKAAIYvRXta1rAogAIAAIAAAACCAADAAAAAAgABAAAAAEKAAUY2Ytq_EAnEAoABhjZi2r8P7HgAAA&query=from:loftwah%20since_time:1713841157%20until_time:1713858202
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 120|gEVUlsk53tYfMrKJDM8ZISgPXinys4SdI2taW0FW6ba1d55a
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ratelimit-Limit:
      - '120'
      X-Ratelimit-Remaining:
      - '117'
    body:
      encoding: ASCII-8BIT
      string: '{"tweets":[],"next_cursor":null}'
  recorded_at: Wed, 15 May 2024 05:30:11 GMT
recorded_with: VCR 6.2.0
