<!-- followers -->
<h2 class="mt-4 text-2xl font-bold text-gray-900 dark:text-white">Followers</h2>
<div class="w-full bg-white rounded-lg shadow dark:bg-gray-800 p-4 md:p-6">
  <% if @followers_data_for_graph.count < 2 %>
    <p>We are awaiting more data to show the followers graph.</p>
  <% else %>
    <div id="followers-chart"></div>
  <% end %>
</div>

<script>
  window.addEventListener("load", function() {
    <% unless @followers_data_for_graph.count < 2 %>
      let options = {
        chart: {
          height: '600px',
          maxWidth: "100%",
          type: "line",
          fontFamily: "Inter, sans-serif",
          dropShadow: {
            enabled: false,
          },
          toolbar: {
            show: false,
          },
        },
        series: [{
          name: "Followers",
          data: <%= @followers_data_for_graph.map { |point| point[1] } %>
        }],
        xaxis: {
          categories: <%= @followers_data_for_graph.map { |point| point[0] }.to_json.html_safe %>,
        },
        yaxis: {
          // Adjust according to your data
          labels: {
            formatter: function (val) {
              return val.toFixed(0);
            }
          }
        },
        stroke: {
          curve: 'smooth',
          width: 4 // Makes the line thicker
        },
        grid: {
          show: true,
          strokeDashArray: 4,
        },
        tooltip: {
          enabled: true,
        },
        dataLabels: {
          enabled: true,
        },
      };

      if (document.getElementById("followers-chart") && typeof ApexCharts !== 'undefined') {
        const chart = new ApexCharts(document.getElementById("followers-chart"), options);
        chart.render();
      }
    <% end %>
  });
</script>
