<%= render(Shared::ShareToolComponent.new(modal_id: 'default-modal', chart_id: 'followers-chart', title: 'Share Followers Chart Image')) %>

<!-- followers -->
<div class="inline-block w-full">
  <h2 class="mt-4 text-2xl font-bold text-gray-900 dark:text-white flex items-center justify-between">
    <div class="flex items-center">
      Followers
      <span class="ml-1">
        <div data-tooltip-target="followers-tooltip">
          <svg class="w-4 h-4 text-gray-400 hover:text-gray-600 cursor-pointer" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h1m0-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
          </svg>
        </div>
      </span>
    </div>
    <button data-modal-target="default-modal" data-chart-id="followers-chart" data-modal-toggle="default-modal" class="block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800" type="button">
      Share
    </button>
  </h2>
</div>

<% tooltip_text = "We collect new follower counts each day if your graph isn't showing enough data yet, it's because we are waiting for more data to be available.".html_safe %>

<%= render Shared::TooltipComponent.new(id: "followers-tooltip", text: tooltip_text) %>

<div class="w-full bg-white rounded-lg shadow dark:bg-gray-800 p-4 md:p-6 mt-4">
  <% if follower_daily_data_points_for_graph.count < 2 %>
   <p class="text-gray-700 dark:text-gray-300">We are awaiting more data to show the followers graph.</p>
  <% else %>
    <div id="followers-chart"></div>
  <% end %>
</div>

<script>
  window.addEventListener("load", function() {
    <% unless follower_daily_data_points_for_graph.count < 2 %>
      let followerOptions = {
        chart: {
          height: '400px',
          maxWidth: "100%",
          type: "area",
          fontFamily: "Inter, sans-serif",
          dropShadow: {
            enabled: false,
          },
          toolbar: {
            show: false,
          },
        },
        fill: {
          type: "gradient",
          gradient: {
            opacityFrom: 0.55,
            opacityTo: 0,
            shade: "#1C64F2",
            gradientToColors: ["#1C64F2"],
          },
        },
        series: [{
          name: "Followers",
          data: <%= (follower_daily_data_points_for_graph.map { |point| point[1] }).to_json.html_safe %>
        }],
        xaxis: {
          categories: <%= @follower_formatted_labels_for_graph.to_json.html_safe %>,
          labels: {
            show: true,
            style: {
              fontFamily: "Inter, sans-serif",
              cssClass: 'text-xs font-normal fill-gray-500 dark:fill-gray-400'
            }
          }
        },
        yaxis: {
          labels: {
            show: true,
            style: {
              fontFamily: "Inter, sans-serif",
              cssClass: 'text-xs font-normal fill-gray-500 dark:fill-gray-400'
            }
          }
        },
        stroke: {
          width: 6,
          curve: 'smooth'
        },
        grid: {
          show: true,
          strokeDashArray: 4,
        },
        tooltip: {
          enabled: true,
          y: {
            formatter: function (val) {
              return val + ' followers';
            }
          }
        },
        dataLabels: {
          enabled: false,
        },
      };

      if (document.getElementById("followers-chart") && typeof ApexCharts !== 'undefined') {
        const chart = new ApexCharts(document.getElementById("followers-chart"), followerOptions);
        chart.render();
      }
    <% end %>
  });
</script>
