<h2 class="mt-4 text-2xl font-bold text-gray-900 dark:text-white">Impressions Over Time</h2>

<div class="w-full bg-white rounded-lg shadow dark:bg-gray-800 p-4 md:p-6 mt-4">
  <div id="impressions-chart"></div>
</div>

<script>
   let impressionData = <%= @impression_daily_data_points_for_graph.to_json.html_safe %>;
    let maxYValue = Math.max(...impressionData);
    let minYValue = Math.min(...impressionData);

    // Find the range of your data
let range = maxYValue - minYValue;

// Determine a step size that gives you a good number of ticks, but rounds nicely
let stepSize = Math.pow(10, range.toString().length - 1);

// Calculate the number of ticks based on this step size
let tickAmount = Math.ceil(range / stepSize);

// Ensure you have a minimum number of ticks to make the graph readable
tickAmount = Math.max(tickAmount, 5);

// Now adjust minYValue and maxYValue to be multiples of stepSize
minYValue = Math.floor(minYValue / stepSize) * stepSize;
maxYValue = Math.ceil(maxYValue / stepSize) * stepSize;

  window.addEventListener("load", function() {
    let options = {
      chart: {
        height: '600px',
        type: 'area',
        fontFamily: 'Inter, sans-serif',
        toolbar: {
          show: false
        },
        zoom: {
          enabled: false
        }
      },
      dataLabels: {
        enabled: false
      },
      series: [{
        name: 'Impressions',
        data: impressionData
      }],
      xaxis: {
        categories: <%= @impression_formatted_labels_for_graph.to_json.html_safe %>
      },
      yaxis: {
        min: minYValue,
        max: maxYValue, // Set dynamically based on the largest data point
        tickAmount: 10 // Adjust if necessary to make the graph look good
      },
      fill: {
        type: "gradient",
        gradient: {
          opacityFrom: 0.55,
          opacityTo: 0,
          shadeIntensity: 0.5,
          type: 'horizontal',
          colorStops: [
            {
              offset: 0,
              color: "#4D9FEB",
              opacity: 1
            },
            {
              offset: 100,
              color: "#1C64F2",
              opacity: 0.55
            }
          ]
        },
      },
      tooltip: {
        x: {
          format: 'dd/MM/yy HH:mm'
        },
      },
      grid: {
        show: true
      }
    };

    if (document.getElementById("impressions-chart") && typeof ApexCharts !== 'undefined') {
      const chart = new ApexCharts(document.getElementById("impressions-chart"), options);
      chart.render();
    }
  });
</script>

