<h2 class="mt-4 text-2xl font-bold text-gray-900 dark:text-white">Profile Conversion Rate</h2>

<div class="w-full bg-white rounded-lg shadow dark:bg-gray-800 p-4 md:p-6 mt-4">
  <div id="conversion-rate-chart"></div>
</div>

<script>
   // Suppose `profileClicksData` and `followersData` are passed from the server as JSON:
  const profileClicksData = <%= @profile_clicks_data.to_json.html_safe %>;
  const followersData = <%= @followers_data.to_json.html_safe %>;
  const conversionRatesDataForGraph = <%= @conversion_rates_data_for_graph.to_json.html_safe %>;

  window.addEventListener("load", function() {
    let options = {
      chart: {
        height: '400px',
        type: 'line',
        fontFamily: 'Inter, sans-serif',
        toolbar: {
          show: false
        },
      },
      series: [{
        name: 'Profile Conversion Rate',
        data: conversionRatesDataForGraph.map(data => data.conversion_rate)
      }],
      xaxis: {
        type: 'datetime',
        categories: conversionRatesDataForGraph.map(data => new Date(data.date).getTime()),
        tickAmount: 6,
        labels: {
          formatter: function (val) {
            return new Date(val).toLocaleDateString();
          }
        }
      },
      yaxis: {
        labels: {
          formatter: function (val) {
            return val.toFixed(2); // Limit the y-axis labels to 2 decimal places
          }
        },
        min: 0,
        max: Math.max(...conversionRatesDataForGraph.map(data => data.conversion_rate)) + 5, // Plus 5 for a bit of padding
        tickAmount: 5 // Ticks at intervals of 5%
      },
      tooltip: {
        enabled: true,
        x: {
          formatter: function (val) {
            return new Date(val).toLocaleDateString();
          }
        },
        y: {
          formatter: function (val) {
            return val.toFixed(2) + "%"; // Fixed to 2 decimal places for percentage
          }
        },
        custom: function({series, seriesIndex, dataPointIndex, w}) {
          let date = new Date(w.globals.labels[dataPointIndex]).toLocaleDateString();
          let dateKey = new Date(w.globals.labels[dataPointIndex]).toISOString().slice(0, 10); // Convert to YYY-MM-DD format
          let followers = followersData[dateKey] || 0;
          let clicks = profileClicksData[dateKey] || 0;
          let rate = series[seriesIndex][dataPointIndex];
          return (
            '<div class="arrow_box">' +
            '<span>Date: ' + date + '</span><br/>' +
            '<span>Followers: ' + followers + '</span><br/>' +
            '<span>Profile Clicks: ' + clicks + '</span><br/>' +
            '<span>Conversion Rate: ' + rate.toFixed(2) + '%</span><br/>' +
            '<span>Calculation: ' + followers + ' / ' + clicks + ' * 100</span>' +
            '</div>'
          );
        }
      },
      grid: {
        show: true,
        strokeDashArray: 4,
      },
      stroke: {
        curve: 'smooth'
      },
      markers: {
        size: 4,
        colors: ['#1C64F2'],
        strokeColors: '#fff',
        strokeWidth: 2,
        hover: {
          size: 7,
        }
      },
      fill: {
        type: 'gradient',
        gradient: {
          shadeIntensity: 1,
          opacityFrom: 0.3,
          opacityTo: 0.4,
          stops: [0, 90, 100]
        }
      }
    };

    if (document.getElementById("conversion-rate-chart") && typeof ApexCharts !== 'undefined') {
      const chart = new ApexCharts(document.getElementById("conversion-rate-chart"), options);
      chart.render();
    }
  });
</script>
