<h2 class="mt-4 text-2xl font-bold text-gray-900 dark:text-white">Profile Conversion Rate</h2>

<div class="w-full bg-white rounded-lg shadow dark:bg-gray-800 p-4 md:p-6 mt-4">
  <div id="conversion-rate-chart"></div>
</div>

<script>
  // Suppose `conversionRatesDataForGraph` is passed from the server as JSON:
  const conversionRatesDataForGraph = <%= @conversion_rates_data_for_graph.to_json.html_safe %>;

  window.addEventListener("load", function() {
    let options = {
      chart: {
        height: '400px',
        type: 'line',
        fontFamily: 'Inter, sans-serif',
        toolbar: {
          show: false
        },
      },
      series: [{
        name: 'Profile Conversion Rate',
        data: conversionRatesDataForGraph.map(data => data.conversion_rate)
      }],
      xaxis: {
        type: 'datetime',
        categories: conversionRatesDataForGraph.map(data => new Date(data.date).getTime()),
        tickAmount: 6,
        labels: {
          formatter: function (val) {
            return new Date(val).toLocaleDateString();
          }
        }
      },
      yaxis: {
        min: 0,
        max: Math.max(...conversionRatesDataForGraph.map(data => data.conversion_rate)) + 5, // Plus 5 for a bit of padding
        tickAmount: 5 // Ticks at intervals of 5%
      },
      tooltip: {
        enabled: true,
        x: {
          formatter: function (val) {
            return new Date(val).toLocaleDateString();
          }
        },
        y: {
          formatter: function (val) {
            return val.toFixed(2) + "%"; // Fixed to 2 decimal places for percentage
          }
        }
      },
      grid: {
        show: true,
        strokeDashArray: 4,
      },
      stroke: {
        curve: 'smooth'
      },
      markers: {
        size: 4,
        colors: ['#1C64F2'],
        strokeColors: '#fff',
        strokeWidth: 2,
        hover: {
          size: 7,
        }
      },
      fill: {
        type: 'gradient',
        gradient: {
          shadeIntensity: 1,
          opacityFrom: 0.3,
          opacityTo: 0.4,
          stops: [0, 90, 100]
        }
      }
    };

    if (document.getElementById("conversion-rate-chart") && typeof ApexCharts !== 'undefined') {
      const chart = new ApexCharts(document.getElementById("conversion-rate-chart"), options);
      chart.render();
    }
  });
</script>
