<div class="inline-block">
  <h2 class="mt-4 text-2xl font-bold text-gray-900 dark:text-white flex items-center">
    Profile Conversion Rate
    <span class="ml-1">
      <div data-tooltip-target="profile-conversion-rate-tooltip">
        <svg class="w-4 h-4 text-gray-400 hover:text-gray-600 cursor-pointer" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h1m0-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
        </svg>
      </div>
    </span>
  </h2>
</div>
<div id="profile-conversion-rate-tooltip" role="tooltip" class="inline-block absolute invisible z-10 py-2 px-3 text-sm font-medium text-white bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
    We collect new engagement data each day if your graph isn't showing enough data yet, it's because we are waiting for more data to be available. We will show up to <%= @maximum_days_of_data %> days of data.
    <div class="tooltip-arrow" data-popper-arrow></div>
</div>
<div class="w-full bg-white rounded-lg shadow dark:bg-gray-800 p-4 md:p-6 mt-4">
  <div id="conversion-rate-chart"></div>
</div>

<script>
   // Suppose `profileClicksData` and `followersData` are passed from the server as JSON:
  const profileClicksData = <%= @profile_clicks_data.to_json.html_safe %>;
  const followersData = <%= @followers_data.to_json.html_safe %>;
  const conversionRatesDataForGraph = <%= @conversion_rates_data_for_graph.to_json.html_safe %>;

  window.addEventListener("load", function() {
    let options = {
      chart: {
        height: '400px',
        type: 'line',
        fontFamily: 'Inter, sans-serif',
        toolbar: {
          show: false
        },
      },
      series: [{
        name: 'Profile Conversion Rate',
        data: conversionRatesDataForGraph.map(data => {
          return {
            x: new Date(data.date).getTime(),
            y: data.conversion_rate
          };
        })
      }],
      xaxis: {
        type: 'datetime',
        // Remove categories and tickAmount for datetime type
        labels: {
            show: true,
            style: {
              fontFamily: "Inter, sans-serif",
              cssClass: 'text-xs font-normal fill-gray-500 dark:fill-gray-400'
            }
          }
      },
      yaxis: {
        labels: {
          formatter: function (val) {
            return val.toFixed(0); // Limit the y-axis labels to 2 decimal places
          },
            show: true,
            style: {
              fontFamily: "Inter, sans-serif",
              cssClass: 'text-xs font-normal fill-gray-500 dark:fill-gray-400'
            }
          },
        min: 0,
        max: Math.max(...conversionRatesDataForGraph.map(data => data.conversion_rate)) + 5, // Plus 5 for a bit of padding
      },
      tooltip: {
        enabled: true,
        x: {
          formatter: function (val, opts) {
            // Make sure to access the date using the dataPointIndex safely
            let dataPoint = conversionRatesDataForGraph[opts.dataPointIndex];
            if (dataPoint) {
              let date = new Date(dataPoint.date).toLocaleDateString();
              return date;
            } else {
              return 'N/A'; // Fallback if the data point is not found
            }
          }
        },
        y: {
          formatter: function (val) {
            return val.toFixed(2) + "%";
          }
        },
        custom: function({series, seriesIndex, dataPointIndex, w}) {
          let dataPoint = conversionRatesDataForGraph[dataPointIndex];
          if (dataPoint) {
            let date = new Date(dataPoint.date).toLocaleDateString();
            let followers = followersData[dataPoint.date] || 0;
            let clicks = profileClicksData[dataPoint.date] || 0;
            let rateCalculation = clicks > 0 ? (followers / clicks) * 100 : 0;
            return (
              '<div class="arrow_box">' +
              '<span>Date: ' + date + '</span><br/>' +
              '<span>Followers: ' + followers + '</span><br/>' +
              '<span>Profile Clicks: ' + clicks + '</span><br/>' +
              '<span>Conversion Rate: ' + rateCalculation.toFixed(2) + '%</span><br/>' +
              '<span>Calculation: ' + followers + ' / ' + clicks + ' * 100</span>' +
              '</div>'
            );
          } else {
            return 'Data not available'; // Fallback if the data point is not found
          }
        }
      },
      stroke: {
        width: 6,
        curve: 'smooth'
      },
      grid: {
        show: true,
        strokeDashArray: 4,
      },
      markers: {
        size: 4,
        colors: ['#1C64F2'],
        strokeColors: '#fff',
        strokeWidth: 2,
        hover: {
          size: 7,
        }
      }
    };

    if (document.getElementById("conversion-rate-chart") && typeof ApexCharts !== 'undefined') {
      const chart = new ApexCharts(document.getElementById("conversion-rate-chart"), options);
      chart.render();
    }
  });
</script>
