<%= content_for :title, "FAQ" %>

<div class="container mx-auto px-4 py-8">
  <h1 class="text-3xl font-bold text-center mb-4">Frequently Asked Questions</h1>

  <div class="w-full mx-auto">
    <div tabindex="0" class="collapse collapse-arrow border border-base-300 bg-base-100 rounded-box">
      <div class="collapse-title text-xl font-medium">
        What is Echosight?
      </div>
      <div class="collapse-content">
        <p>Echosight is an innovative Twitter analytics dashboard designed to provide detailed insights into your Twitter account's performance. It offers features like user profile summaries, follower growth charts, impression statistics, and detailed post analytics, all presented in a visually engaging Echosight aesthetic.</p>
      </div>
    </div>
  </div>
</div>
