<h2 class="mt-4 text-2xl font-bold text-gray-900 dark:text-white">Posts</h2>

<div class="w-full bg-white rounded-lg shadow dark:bg-gray-800 p-4 md:p-6 mt-4">
    <table class="w-full text-sm text-center text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Post
                </th>
                <th scope="col" class="px-6 py-3">
                    Retweets
                </th>
                <th scope="col" class="px-6 py-3">
                    Quotes
                </th>
                <th scope="col" class="px-6 py-3">
                    Likes
                </th>
                <th scope="col" class="px-6 py-3">
                    Impressions
                </th>
                <th scope="col" class="px-6 py-3">
                    Engagement
                </th>
                <th scope="col" class="px-6 py-3">
                    Replies
                </th>
                <th scope="col" class="px-6 py-3">
                    Engagement Rate
                </th>
                <th scope="col" class="px-6 py-3">
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <td class="px-6 py-4 font-medium text-gray-900 dark:text-white">
                    Excited about our new product launch! #Innovation
                </td>
                <td class="px-6 py-4">
                    150
                </td>
                <td class="px-6 py-4">
                    30
                </td>
                <td class="px-6 py-4">
                    1200
                </td>
                <td class="px-6 py-4">
                    95K
                </td>
                <td class="px-6 py-4">
                    200
                </td>
                <td class="px-6 py-4">
                    75
                </td>
                <td class="px-6 py-4">
                    1.8%
                </td>
                <td class="px-6 py-4">
                    <a href="#" class="text-blue-600 hover:text-blue-900">
                        <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 17 14"><path d="M16 2H1a1 1 0 0 1 0-2h15a1 1 0 1 1 0 2Zm0 6H1a1 1 0 0 1 0-2h15a1 1 0 1 1 0 2Zm0 6H1a1 1 0 0 1 0-2h15a1 1 0 0 1 0 2Z"></path></svg>
                    </a>
                </td>
            </tr>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <td class="px-6 py-4 font-medium text-gray-900 dark:text-white">
                    A throwback to our early days... #TBT
                </td>
                <td class="px-6 py-4">
                    90
                </td>
                <td class="px-6 py-4">
                    25
                </td>
                <td class="px-6 py-4">
                    800
                </td>
                <td class="px-6 py-4">
                    60K
                </td>
                <td class="px-6 py-4">
                    150
                </td>
                <td class="px-6 py-4">
                    40
                </td>
                <td class="px-6 py-4">
                    1.2%
                </td>
                <td class="px-6 py-4">
                    <a href="#" class="text-blue-600 hover:text-blue-900">
                        <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 17 14"><path d="M16 2H1a1 1 0 0 1 0-2h15a1 1 0 1 1 0 2Zm0 6H1a1 1 0 0 1 0-2h15a1 1 0 1 1 0 2Zm0 6H1a1 1 0 0 1 0-2h15a1 1 0 0 1 0 2Z"></path></svg>
                    </a>
                </td>
            </tr>
            <tr class="bg-white dark:bg-gray-800">
                <td class="px-6 py-4 font-medium text-gray-900 dark:text-white">
                    We're hiring! Join our passionate team. #JobAlert
                </td>
                <td class="px-6 py-4">
                    200
                </td>
                <td class="px-6 py-4">
                    45
                </td>
                <td class="px-6 py-4">
                    950
                </td>
                <td class="px-6 py-4">
                    110K
                </td>
                <td class="px-6 py-4">
                    250
                </td>
                <td class="px-6 py-4">
                    100
                </td>
                <td class="px-6 py-4">
                    2.1%
                </td>
                <td class="px-6 py-4">
                    <a href="#" class="text-blue-600 hover:text-blue-900">
                        <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 17 14"><path d="M16 2H1a1 1 0 0 1 0-2h15a1 1 0 1 1 0 2Zm0 6H1a1 1 0 0 1 0-2h15a1 1 0 1 1 0 2Zm0 6H1a1 1 0 0 1 0-2h15a1 1 0 0 1 0 2Z"></path></svg>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>