<%= render Shared::HeadingComponent.new(text: 'My Posts', heading_type: :h1) %>


<%= render PostsTableComponent.new(posts: @posts, rows_to_show: 100) %>

<div class="pagination">
  <%= pagy_nav_with_flowbite(@pagy) %>
</div>


