  <p>Hi <%= @user.name %>,</p>

  <p>Thank you for signing up for our service and taking the first step toward enhancing your Twitter analytics and scheduling experience. We noticed that you haven't yet subscribed, and we would love to understand how we can better meet your needs.</p>

  <p>Is there something stopping you from subscribing? Your feedback is invaluable to us, and we're committed to building a product that truly serves you.</p>

  <p>You can easily submit your feature requests or suggestions here: <a href="<%= feature_requests_url %>">Echosight Feature Requests</a></p>

  <p>Alternatively, feel free to email us your thoughts and ideas at <a href="mailto:x@echosight.io">x@echosight.io</a>.</p>

  <p>We look forward to hearing from you and making Echosight the best tool it can be for you.</p>

  <p>Best regards,<br>
  The Echosight Team</p>
