<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Sidekiq Queue Size Alert</h1>
    <p>Hello <%= @user.name %>,</p>
    <p>The <strong><%= @queue_name %></strong> queue has reached a size of <strong><%= @queue_size %></strong>.</p>
    <p>Please take the necessary actions to manage the queue size.</p>
    <p>Thank you,</p>
    <p>Your Application Team</p>
  </body>
</html>
