<p>Hi <%= t("devise.mailer.invitation_instructions.hello", email: @resource.email) %>,<p>

<p>We're excited to announce that Echosight is now ready to revolutionize your social media strategy, and we're thrilled to invite you from our waiting list for exclusive early access!</p>

<h2>Revolutionize Your Social Media Strategy with Echosight</h2>
<p>Echosight offers a unique platform where you can easily showcase your Twitter/X analytics and compare yourself within the community. Here's what you can look forward to:</p>

<h3>Public Analytics Page</h3>
<p>Share your social media performance with a broader audience, enhancing your credibility and influence.</p>

<h3>Community Comparison</h3>
<p>Compare your stats with others in the community, fostering a sense of competition and growth.</p>

<h3>Leaderboard</h3>
<p>See how you rank among top users and compare yourself directly with a select number of accounts you care about.</p>

<h3>Storytelling with Data</h3>
<p>Use your analytics to tell a compelling story about your social media journey and impact.</p>

<h3>Exclusive Offer for Early Access Members</h3>

<p>To thank you for being on our waiting list, we're offering you <strong>90 days of free access</strong> to Echosight. Plus, if you sign up now, you'll get an exclusive early access price of $5 per month for the life of your subscription.</p>

<h3>Get Started Now</h3>

<p>Don't miss out on this opportunity to take your social media analytics to the next level. Click the link below to accept your invitation and start showcasing your Twitter/X analytics today!</p>

<p><%= link_to 'Accept invitation', accept_invitation_url(@resource, invitation_token: @token) %></p>

<p>We can't wait to see how Echosight will help you grow and thrive.</p>

<p>Best regards,</p>

<p>The Echosight Team</p>

<p>© 2024 Echosight. All rights reserved.</p>

<p>Need Help? Contact us at <a href="mailto:x@echosight.io">x@echosight.io</a>.</p>